body {
  font-family: "Barlow Semi Condensed", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  background-color: #131415;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/NeueHaasDisplayXXThin.ttf) format("ttf");
}
@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/NeueHaasDisplayXXThinItalic.ttf) format("ttf");
}
@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/NeueHaasDisplayXThin.ttf) format("ttf");
}
@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/NeueHaasDisplayXThinItalic.ttf) format("ttf");
}
@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/NeueHaasDisplayRoman.ttf) format("ttf");
}
@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/NeueHaasDisplayRomanItalic.ttf) format("ttf");
}
@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/NeueHaasDisplayMediu.ttf) format("ttf");
}
@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/NeueHaasDisplayMediumItalic.ttf) format("ttf");
}
@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/NeueHaasDisplayBold.ttf) format("ttf");
}
@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/NeueHaasDisplayBoldItalic.ttf) format("ttf");
}
.header-menu {
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: #131415;
}
.header-menu .container-fluid {
  padding: 0;
}
.header-menu .navbar-brand img {
  height: 32px;
}
.header-menu .navbar-collapse {
  min-height: calc(100vh - 60px);
  background-color: #1f2023;
  margin-top: 1rem;
}
.header-menu .navbar-nav {
  margin-top: 0.5rem;
  padding: 7px 1.5rem;
}
.header-menu .navbar-nav .nav-link {
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
.header-menu .navbar-nav .nav-link.active, .header-menu .navbar-nav .nav-link.show {
  background-color: #383a42;
  color: #ffc700;
}
.header-menu .navbar-toggler {
  -webkit-transition: all 0.25s;
}
.header-menu .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.header-menu .navbar-toggler .navbar-toggler-icon {
  background-image: none;
  width: 24px;
  height: 3px;
  border-radius: 1rem;
}
.header-menu .navbar-toggler .navbar-toggler-icon:before, .header-menu .navbar-toggler .navbar-toggler-icon:after {
  border-radius: 1rem;
  -webkit-transition: all 0.25s;
  width: 24px;
  height: 3px;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  content: "";
}
.header-menu .navbar-toggler .navbar-toggler-icon:after {
  width: 24px;
}
.header-menu .navbar-toggler.collapsed .navbar-toggler-icon {
  -webkit-transform: rotate(0deg);
  -webkit-transition: all 0.25s;
  background-color: rgba(255, 255, 255, 0.8);
}
.header-menu .navbar-toggler.collapsed .navbar-toggler-icon:before {
  -webkit-transform: rotate(0deg);
  top: -10px;
}
.header-menu .navbar-toggler.collapsed .navbar-toggler-icon:after {
  width: 16px;
  -webkit-transform: rotate(0deg);
  top: 10px;
}
.header-menu .navbar-toggler .navbar-toggler-icon {
  -webkit-transform: rotate(180deg);
  background-color: transparent;
  left: 10px;
}
.header-menu .navbar-toggler .navbar-toggler-icon:before, .header-menu .navbar-toggler .navbar-toggler-icon:after {
  top: 0px;
}
.header-menu .navbar-toggler .navbar-toggler-icon:before {
  -webkit-transform: rotate(45deg);
}
.header-menu .navbar-toggler .navbar-toggler-icon:after {
  -webkit-transform: rotate(-45deg);
}

.btn-login {
  border-radius: 3rem;
  background-color: #ffc700;
  padding: 7px 1.5rem;
  color: #1f1f1f;
  font-weight: 900;
  font-style: italic;
  border: 1px solid #ffc700;
  text-align: center;
}
.btn-login:hover {
  background-color: #c79b12;
  color: #1f1f1f;
  border: 1px solid #c79b12;
}

.btn-outline-login {
  border-radius: 3rem;
  background-color: #131415;
  padding: 7px 1.5rem;
  color: #d2d2d2;
  font-weight: 900;
  font-style: italic;
  border: 1px solid #ffc700;
  text-align: center;
}
.btn-outline-login:hover {
  border: 1px solid #ffe8ab;
  color: #d2d2d2;
}

#slide-main .owl-item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 180px;
}
#slide-main .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#slide-main .owl-dots .owl-dot span {
  width: 16px;
  height: 4px;
  margin: 5px 2px;
  background: rgba(255, 255, 255, 0.6);
}
#slide-main .owl-dots .owl-dot.active span, #slide-main .owl-dots .owl-dot:hover span {
  background: #ffc700;
}

.block-icon {
  background-color: #1f2023;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.icon-list .icon-item {
  text-align: center;
}
.icon-list .icon-item__title {
  color: #fff;
  text-transform: uppercase;
}
.icon-list .icon-item__img img {
  width: 42px;
  height: 42px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

#slide-collection .owl-dots {
  display: none;
}
#slide-collection .owl-item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 180px;
  height: 245px;
  border-radius: 0.75rem;
}

.block-slide-collection {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.5rem;
}
.block-title .slide-title {
  font-size: 2rem;
  font-style: italic;
  font-weight: 900;
  color: #ffc700;
  text-transform: uppercase;
}
.block-title .nav-collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block-title .nav-collection .btn-nav {
  cursor: pointer;
}
.block-title .nav-collection .btn-nav.btn-next {
  margin-left: 0.5rem;
}
.block-title .nav-collection .btn-nav img {
  width: 40px;
  height: 40px;
  display: block;
}

.block-slide-banner {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

#slide-calendar .owl-dots {
  display: none;
}
#slide-calendar .owl-item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 240px;
  border-radius: 0.75rem;
}

.box-banner__img img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 240px;
  -o-object-position: center;
     object-position: center;
  border-radius: 0.75rem;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #383a42;
}

.footer-item__title {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 0.25rem;
}
.footer-item__row {
  color: #d2d2d2;
  padding: 0.25rem;
  font-family: "Neue Haas Grotesk", "Barlow Semi Condensed", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue";
}
.footer-item__row .btn-footer {
  margin-top: 1rem;
  padding: 0;
}
.footer-item__row .btn-footer img {
  display: block;
  height: 44px;
}

@media (min-width: 768px) {
  .header-menu {
    padding: 12px 0;
    position: unset;
    background-color: #131415;
  }
  .header-menu .container-fluid {
    padding: 0 1rem;
  }
  .header-menu .navbar-brand img {
    height: 40px;
  }
  .header-menu .navbar-collapse {
    min-height: unset;
    background-color: transparent;
    margin-top: 0;
  }
  .header-menu .navbar-nav {
    padding: 0;
    margin-top: 0;
  }
  .header-menu .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    border-radius: 3rem;
  }
  .header-menu .navbar-nav .nav-link:hover {
    background-color: #383a42;
    color: #ffc700;
  }

  #slide-main .owl-item img {
    width: 100%;
    height: 450px;
  }
  #slide-main .owl-dots {
    bottom: 10px;
  }
  #slide-main .owl-dots .owl-dot span {
    width: 28px;
    height: 4px;
    margin: 5px 4px;
  }
}

/*# sourceMappingURL=style.css.map */